.added-book{
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    /* margin: 10px 0; */
    padding: 10px;
}
.added-books{
    width: fit-content;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.added-book img{
    width: 50px;
}
.added-book button{
    background-color: rgb(13,131,242);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
}
.added-book > div{
    width: 300px;
}
.search-bar{
    margin: 20px auto;
    width: 70vw;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 40px;
}
.search-bar img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.search-bar > p{
    color: rgb(189, 189, 189);
}
.search-bar input{
    padding: 10px;
    outline: 0;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    width: 350px;
    margin: 10px 0;
}
.results > h3{
    text-align: center;
}