* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Momo Trust Sans", sans-serif;
  background-color: rgb(253,253,253);
}
button{
  cursor: pointer;
}
button, input, textarea{
  font-family: "Momo Trust Sans", sans-serif;
}
.book{
  text-decoration: none;
  color: black;
  padding: 10px;
}
.books th{
  color: grey;
  padding: 10px;
}
.books td{
  padding: 10px;
}
.books td i{
  font-size: 20px;
}
.book img{
  width: 50px;
}
.book button{
  border: 0;
  background-color: transparent;
  display: inline-block;
  margin-left: 5px;
}
.books{
  width: 70vw;
  margin: 20px auto;
  font-weight: 200;
}
.book-details{
  display: flex;
  align-items: flex-start;
  padding: 10px;
  width: 70vw;
  gap: 20px;
  margin: 10px auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  padding: 20px;
  border-radius: 5px;
}
.book-details .title{
  font-size: 25px;
  margin: 10px 0;
}
.book-details .author{
  color: grey;
  font-weight: 200;
}

.book-details .infos{
  display: flex;
  gap: 10px;
  margin: 20px 0;
}
.book-details .infos span{
  color: gray;
}
.book-details img{
  width: 200px;
}
.book-details button{
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 15px 5px;
}
.book-details .borrowBtn{
  background-color: rgb(13,131,242);
  color: white;
}
.book-details .returnBtn{
  background-color: white;
  color: black;
  border: 1px solid rgb(216, 216, 216);
}
.edit-form{
  display: flex;
  width: fit-content;
  margin: 20px auto;
  align-items: center;
  /* justify-content: center; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
.edit-form > div:first-child{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.edit-form > div:first-child img{
  display: block;
  width: 150px;
  /* margin: 0 auto; */

}
.edit-form > div:last-child input, .edit-form > div:last-child textarea{
  padding: 5px 10px;
    outline: 0;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    width: 300px;
    margin: 10px 0;
}