* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Momo Trust Sans", sans-serif;
  background-color: rgb(253,253,253);
}
.main-content{
  margin-left: 250px;
}
button{
  cursor: pointer;
}
button, input, textarea{
  font-family: "Momo Trust Sans", sans-serif;
}
.book{
  text-decoration: none;
  color: black;
  padding: 10px;
}
.books th, .users th, .borrowing-returns table th{
  color: grey;
  padding: 10px;
}
.books td, .users td, .borrowing-returns table td{
  padding: 10px;
  text-align: center;
}
.books td i{
  font-size: 20px;
}
.books td button:first-child i{
  color: green;
}
.books td button:last-child i{
  color: red;
}
.book img{
  width: 50px;
}
.users img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.users tr > td:first-child{
  display: flex;
  align-items: center;
  gap: 10px;
}
.book button{
  border: 0;
  background-color: transparent;
  display: inline-block;
  margin-left: 5px;
}
.books, .users, .user-manage{
  width: 70vw;
  margin: 20px auto;
  font-weight: 200;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border-radius: 5px;
}
.user-manage{
  padding: 30px 20px;
}
.user-manage input{
  padding: 5px 10px;
  outline: 0;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  width: 300px;
  margin: 10px 0;
}
.book-details{
  display: flex;
  align-items: flex-start;
  padding: 10px;
  width: 70vw;
  gap: 20px;
  margin: 10px auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  padding: 20px;
  border-radius: 5px;
}
.book-details .title{
  font-size: 25px;
  margin: 10px 0;
}
.book-details .author{
  color: grey;
  font-weight: 200;
}

.book-details .infos{
  display: flex;
  gap: 10px;
  margin: 20px 0;
}
.book-details .infos span{
  color: gray;
}
.book-details img, .borrow-form img{
  width: 200px;
}
.borrowBtn, .returnBtn{
  background-color: rgb(13,131,242);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 15px 5px;
}
.returnBtn{
  background-color: white;
  color: black;
  border: 1px solid rgb(182, 182, 182);
}
.edit-form, .borrow-form, .form-add-user{
  display: flex;
  width: fit-content;
  margin: 20px auto;
  align-items: center;
  /* justify-content: center; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
.form-add-user{
  display: block;
  position: absolute;
  right: 100px;
}
.form-add-user .user-icon{
  font-size: 30px;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  margin: 15px auto;
}
.form-add-user h3{
  text-align: center;
}
.borrow-form{
  gap: 100px;
}
.edit-form > div:first-child{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.edit-form > div:first-child img{
  display: block;
  width: 150px;
  /* margin: 0 auto; */

}
.edit-form > div:last-child input, .edit-form > div:last-child textarea, .borrow-form input, .borrow-form select, .form-add-user input{
  padding: 5px 10px;
    outline: 0;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    width: 300px;
    margin: 10px 0;
}
.side-bar{
  padding: 0 20px;
  height: 70px;
  line-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  background-color: white;
}
.side-bar img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.side-bar input{
  padding: 5px 10px;
  outline: 0;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  width: 300px;
  margin: 10px 0;
}
.side-bar button{
  background-color: transparent;
  border: 0;
  font-size: 20px;
}
.borrowing-status{
  border-radius: 20px;
  padding: 10px;
  width: fit-content;
  margin: 0 auto;
}
.cancel-icon{
  background-color: transparent;
  border: 0;
  font-size: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.borrowing-returns{
  width: 70vw;
  margin: 20px auto;
}
.borrowing-returns > div, .borrowing-returns table{
  width: 100%;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  background-color: white;
  border-radius: 5px;
}
.borrowing-returns > div{
  line-height: 50px;
  padding: 20px;
}
.borrowing-returns > div p{
  color: rgb(185, 185, 185);
}
.borrowing-returns > div input{
  padding: 5px 10px;
  outline: 0;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  width: 300px;
  margin: 10px 0;
}