* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Momo Trust Sans", sans-serif;
  background-color: rgb(253,253,253);
}
.book{
  text-decoration: none;
  color: black;
  padding: 10px;
}
.books th{
  color: grey;
  padding: 10px;
}
.books td{
  padding: 10px;
}
.books td i{
  font-size: 20px;
  margin-left: 5px;
}
.book img{
  width: 50px;
}
.books{
  width: 70vw;
  margin: 20px auto;
  font-weight: 200;
}
.book-details{
  display: flex;
  align-items: flex-start;
  padding: 10px;
  width: 70vw;
  gap: 20px;
  margin: 10px auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  padding: 20px;
  border-radius: 5px;
}
.book-details .title{
  font-size: 25px;
  margin: 10px 0;
}
.book-details .author{
  color: grey;
  font-weight: 200;
}

.book-details .infos{
  display: flex;
  gap: 10px;
  margin: 20px 0;
}
.book-details .infos span{
  color: gray;
}
.book-details img{
  width: 200px;
}
.book-details button{
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 15px 5px;
}
.book-details .borrowBtn{
  background-color: rgb(13,131,242);
  color: white;
}
.book-details .returnBtn{
  background-color: white;
  color: black;
  border: 1px solid rgb(216, 216, 216);
}
