nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 10px auto;
    width: 60vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    background-color: white;
}
nav .link{
    margin: 0 10px;
    text-decoration: none;
    color: black;
}